body{
background-image: url('https://dl.dropboxusercontent.com/u/43609448/img/motocross-1280704_1920.jpg');
background-size: 100%;
background-repeat: no-repeat
}

.tr-hero{
text-align: center;
}

#tr-logo{
color: white;
font-family: verdana;
font-style: italic;
font-size: 7em;
text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

#tr-logo > span {
color: orange;

}
